<!doctype html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="ThemeStarz">

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">



<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Roboto:400,500,700">
<link rel="stylesheet" href="./assects/Bootstrap/css/bootstrap.min.css"
	type="text/css">
<link rel="stylesheet"
	href="./assects/font-awesome/css/fontawesome-all.min.css">
<link rel="stylesheet" href="./assects/css/magnific-popup.css">
<link rel="stylesheet" href="./assects/css/odometer-theame-default.css">
<link rel="stylesheet" href="./assects/css/owl.carasoule.mini.css">
<link rel="stylesheet" href="./assects/css/style.css">
<title>SoftDyze</title>
<link rel="icon" type="image/x-icon" href="./assects/image/favicon.ico">
</head>
<body data-spy="scroll" data-target=".navbar" class="has-loading-screen">
	<div class="ts-page-wrapper" id="page-top">
		<!--NAVIGATION ******************************************************************************************-->
		<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white">
			<div class="container">
				<a
					class="navbar-brand ts-push-down__50 position-absolute ts-bottom__0 bg-white pb-0 ts-z-index__1 ts-scroll"
					href="/"> <img src="./assects/image/SD Logo 3.png" alt=""
					style="width: 100px;">
				</a>
				<!--end navbar-brand-->
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarNavAltMarkup"
					aria-controls="navbarNavAltMarkup" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<!--end navbar-toggler-->
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav d-block d-lg-flex ml-auto text-right">
						<a class="nav-item nav-link active ts-scroll" href="#page-top">Home
							<span class="sr-only">(current)</span>
						</a> <a class="nav-item nav-link ts-scroll" href="#my-services">Services</a>
						<a class="nav-item nav-link ts-scroll" href="#about-me">About Us</a> <a class="nav-item nav-link ts-scroll" href="#my-skills">Skills</a>
						<a class="nav-item nav-link ts-scroll" href="#team">Team</a> <a
							class="nav-item nav-link ts-scroll" href="#testimonials">Clients</a>
						<a class="nav-item nav-link ts-scroll mr-2" href="#form-contact">Contact</a>
					</div>
					<!--end navbar-nav-->
				</div>
				<!--end collapse-->
			</div>
			<!--end container-->
		</nav>
		<!--end navbar-->
		<!--*********************************************************************************************************-->
		<!--************ HERO ***************************************************************************************-->
		<!--*********************************************************************************************************-->
		<div id="ts-hero" class="ts-animate-hero-items">

			<!--HERO CONTENT ****************************************************************************************-->
			<div class="container position-relative h-100 ts-align__vertical">
				<div class="row w-100">
					<div class="col-md-8">
						<!--SOCIAL ICONS-->
						<figure class="ts-social-icons mb-4">
							<a href="#" class="mr-3"> <i class="fab fa-facebook"></i>
							</a>
							<a href="#" class="mr-3"> <i class="fab fa-twitter"></i>
							</a>
							<a href="#" class="mr-3"> <i class="fab fa-pinterest"></i>
							</a>
							<a href="#" class="mr-3"> <i class="fab fa-slack"></i>
							</a>
							<a href="#" class="mr-3"> <i class="fab fa-instagram"></i>
							</a>
						</figure>

						<!--TITLE -->
						<h1>SoftDyze</h1>
						<h1 class="ts-bubble-border">
							<span class="ts-title-rotate"> <span class="active">Innovation</span>
								<span>Competive Culture</span> <span>Growth Opertunities</span>
							</span>
						</h1>

					</div>
					<!--end col-md-8-->
				</div>
				<!--end row-->
				<a href="#my-services"
					class="ts-btn-effect position-absolute ts-bottom__0 ts-left__0 ts-scroll ml-3 mb-3">
					<span class="ts-visible ts-circle__sm rounded-0 ts-bg-primary">
						<i class="fa fa-arrow-down text-white"></i>
				</span> <span class="ts-hidden ts-circle__sm rounded-0"> <i
						class="fa fa-arrow-down text-white"></i>
				</span>
				</a>

			</div>
			<!--end container-->
			<!--END HERO CONTENT ************************************************************************************-->

			<!--HERO BACKGROUND *************************************************************************************-->
			<div class="ts-background">
				<div class="ts-background-image"
					data-bg-image="./assects/image/img01.jpg"></div>
			</div>
			<!--END HERO BACKGROUND *********************************************************************************-->

		</div>
		<!--end #hero-->

		<!--*********************************************************************************************************-->
		<!--************ CONTENT ************************************************************************************-->
		<!--*********************************************************************************************************-->
		<main id="ts-content">

			<!--MY SERVICES ***********************************************************************************-->
			<section id="my-services" class="ts-block ts-xs-text-center pb-0">
				<div class="container">
					<div class="ts-title text-center">
						<h2>Our Services</h2>
					</div>
					<!--end ts-title-->
					<div class="row">
						<div class="col-sm-6 col-md-4 col-xl-4">
							<div class="ts-item" data-animate="ts-fadeInUp">
								<div class="ts-item-content">
									<div class="ts-item-header">
										<figure class="icon">
											<img src="assects/image/001-web-design.png" alt="">
										</figure>
										<!--end icon-->
									</div>
									<!--end ts-item-header-->
									<div class="ts-item-body">
										<h4>Web Design</h4>
										<p class="mb-0">Web design is the process of creating
											visually appealing and user-friendly websites by combining
											elements such as layout, color schemes, typography, and
											interactive features.</p>
									</div>
									<!-- <!-- end ts-item-body
									<div class="ts-item-footer">
										<a href="#" data-toggle="modal" data-target="#modal"
											class="ts-link-arrow-effect"> <span>Read More</span>
										</a>
									</div> -->
									<!--end ts-item-footer-->
								</div>
								<!--end ts-item-content-->
							</div>
							<!--end ts-item-->
						</div>
						<!--end col-xl-4-->
						<div class="col-sm-6 col-md-4 col-xl-4">
							<div class="ts-item" data-animate="ts-fadeInUp" data-delay=".1s">
								<div class="ts-item-content">
									<div class="ts-item-header">
										<figure class="icon">
											<img src="assects/image/002-photography.png" alt="">
										</figure>
										<!--end icon-->
									</div>
									<!--end ts-item-header-->
									<div class="ts-item-body">
										<h4>Photography</h4>
										<p class="mb-0">Photography is the art of capturing
											moments, emotions, and stories through the lens of a camera,
											using composition, lighting, and technical skills to create
											visually stunning images</p>
									</div>
									<!--end ts-item-body-->
									<!-- <div class="ts-item-footer">
										<a href="#" data-toggle="modal" data-target="#modal"
											class="ts-link-arrow-effect"> <span>Read More</span>
										</a>
									</div> -->
									<!--end ts-item-footer-->
								</div>
								<!--end ts-item-content-->
							</div>
							<!--end ts-item-->
						</div>
						<!--end col-xl-4-->
						<div class="col-sm-6 col-md-4 col-xl-4">
							<div class="ts-item" data-animate="ts-fadeInUp" data-delay=".2s">
								<div class="ts-item-content">
									<div class="ts-item-header">
										<figure class="icon">
											<img src="assects/image/003-camera.png" alt="">
										</figure>
										<!--end icon-->
									</div>
									<!--end ts-item-header-->
									<div class="ts-item-body">
										<h4>Video Editing</h4>
										<p class="mb-0">Video editing is the process of
											manipulating and rearranging video footage, adding special
											effects, transitions, and audio enhancements to create a
											cohesive and visually appealing final product. It involves
											skillfully organizing and refining raw footage into a
											compelling visual narrative.</p>
									</div>
									<!--end ts-item-body-->
									<!-- <div class="ts-item-footer">
										<a href="#" data-toggle="modal" data-target="#modal"
											class="ts-link-arrow-effect"> <span>Read More</span>
										</a>
									</div> -->
									<!--end ts-item-footer-->
								</div>
								<!--end ts-item-content-->
							</div>
							<!--end ts-item-->
						</div>
						<!--end col-xl-4-->
						<div class="col-sm-6 col-md-4 col-xl-4">
							<div class="ts-item" data-animate="ts-fadeInUp" data-delay=".3s">
								<div class="ts-item-content">
									<div class="ts-item-header">
										<figure class="icon">
											<img src="assects/image/copy-writing.png" alt="">
										</figure>
										<!--end icon-->
									</div>
									<!--end ts-item-header-->
									<div class="ts-item-body">
										<h4>Copy Writing</h4>
										<p class="mb-0">Copywriting is the art of crafting
											persuasive and compelling written content, such as
											advertisements, promotional materials, and website copy, with
											the goal of engaging, informing, and persuading the target
											audience to take desired actions.</p>
									</div>
									<!--end ts-item-body-->
									<!-- <div class="ts-item-footer">
										<a href="#" data-toggle="modal" data-target="#modal"
											class="ts-link-arrow-effect"> <span>Read More</span>
										</a>
									</div> -->
									<!--end ts-item-footer-->
								</div>
								<!--end ts-item-content-->
							</div>
							<!--end ts-item-->
						</div>
						<!--end col-xl-4-->
						<div class="col-sm-6 col-md-4 col-xl-4">
							<div class="ts-item" data-animate="ts-fadeInUp" data-delay=".4s">
								<div class="ts-item-content">
									<div class="ts-item-header">
										<figure class="icon">
											<img src="assects/image/web-programming.png" alt="">
										</figure>
										<!--end icon-->
									</div>
									<!--end ts-item-header-->
									<div class="ts-item-body">
										<h4>Coding</h4>
										<p class="mb-0">Coding is the practice of writing and
											creating sets of instructions, known as code, to instruct
											computers and software to perform specific tasks and
											functions, enabling the development of applications,
											websites, and software solutions.</p>
									</div>
									<!--end ts-item-body-->
									<!-- <div class="ts-item-footer">
										<a href="#" data-toggle="modal" data-target="#modal"
											class="ts-link-arrow-effect"> <span>Read More</span>
										</a>
									</div> -->
									<!--end ts-item-footer-->
								</div>
								<!--end ts-item-content-->
							</div>
							<!--end ts-item-->
						</div>
						<!--end col-xl-4-->
						<div class="col-sm-6 col-md-4 col-xl-4">
							<div class="ts-item" data-animate="ts-fadeInUp" data-delay=".5s">
								<div class="ts-item-content">
									<div class="ts-item-header">
										<figure class="icon">
											<img src="assects/image/app-development.png" alt="">
										</figure>
										<!--end icon-->
									</div>
									<!--end ts-item-header-->
									<div class="ts-item-body">
										<h4>App Developing</h4>
										<p class="mb-0">App development is the process of
											designing, coding, and creating software applications for
											mobile devices or desktop computers, providing users with
											various functionalities and features. It involves a
											combination of programming languages, frameworks, and tools
											to build intuitive and interactive applications that cater to
											specific user needs</p>
									</div>
									<!--end ts-item-body-->
									<!-- <div class="ts-item-footer">
										<a href="#" data-toggle="modal" data-target="#modal"
											class="ts-link-arrow-effect"> <span>Read More</span>
										</a>
									</div> -->
									<!--end ts-item-footer-->
								</div>
								<!--end ts-item-content-->
							</div>
							<!--end ts-item-->

						</div>
						<!--end col-xl-4-->

					</div>
					<!--end row-->
				</div>
				<!--end container-->
			</section>
			<!--END MY SERVICES *************************************************************************************-->

			<section id="about-me" class="ts-block pb-4">
				<div class="container">
					<div class="ts-title text-center">
						<h2>About our Company</h2>
					</div>
					<!--end ts-title-->
					<div class="row ts-align__vertical">
						<div class="col-md-6">
							<img src="./assects/image/Front.jpg" alt=""
								class="mw-100 mb-5 mh-50">
						</div>
						<div class="col-md-6">
							<h4 class="ts-bubble-border">Hi There</h4>
							<p>SoftDyze Software Solution Consulting Company is a leading
								provider of comprehensive IT solutions and consulting services.
								Our team of highly skilled professionals offers expertise in
								areas such as network infrastructure, cloud computing,
								cybersecurity, and software development. We partner with
								businesses to optimize their IT systems, streamline operations,
								enhance security measures, and leverage cutting-edge
								technologies to drive innovation and productivity. With a
								customer-centric approach, we deliver tailored solutions that
								align with our clients' unique business goals and requirements.</p>
							<dl class="ts-column-count-2">
								<dt>Name:</dt>
								<dd>SoftDyze</dd>
								<dt>Phone:</dt>
								<dd>+91 75408 02073</dd>
								<dt>Email:</dt>
								<dd>Softdyze@gmail.com</dd>
								<dt>Twitter:</dt>
								<dd>SoftDyze01</dd>
							</dl>
							<hr class="ts-hr-light mb-5">
							<a href="#contact" class="ts-btn-effect mr-2"> <span
								class="ts-visible btn btn-primary ts-btn-arrow">Contact
									us</span> <span class="ts-hidden btn btn-primary ts-btn-arrow"
								data-bg-color="#39FF14">Contact Me</span>
							</a>
							<!--<a href="#contact" class="btn btn-primary ts-btn-arrow mr-2">Contact Me</a>-->
							<!--<a href="#contact" class="btn btn-outline-light ts-btn-border-light">-->
							<!--<i class="fa fa-download small mr-2"></i>-->
							<!--Download CV-->
							<!--</a>-->
						</div>
					</div>
					<!--end row-->
				</div>
			</section>

			<section class="ts-block">
				<div class="container">
					<div class="text-center px-5 pt-5 position-relative">
						<h3 class="my-3">Let’s Work Together On Your Next Project!</h3>
						<a href="#contact"
							class="btn btn-primary mr-2 ts-push-down__50 ts-has-talk-arrow">Hire
							us Now!</a>
						<div class="ts-background ts-opacity__20"
							data-bg-image="assets/img/bg-keyboard.jpg"></div>
					</div>
				</div>
			</section>

			<section id="my-skills" class="ts-block pb-5">
				<div class="container">
					<div class="ts-title text-center">
						<h2>Our Work Related With</h2>
					</div>
					<!--end ts-title-->
					<h4>The Way Of Developement Process With Us</h4>
					<div class="row">
						<div class="col-md-6">
							<p>SoftDyze is a team of experienced software developers and
								designers who are passionate about creating innovative and
								user-friendly software solutions. We also work with you every
								step of the way to ensure that your software is delivered on
								time.</p>
							<p>We are designed to be easy to use, efficient, and
								scalable. We use the latest technologies to ensure that your
								software is always up-to-date and secure. We also offer a full
								range of software maintenance and support services to ensure
								that your software</p>

							<p></p>
							<a href="#contact" class="btn btn-outline-light mb-5">Contact
								Us</a>
						</div>
						<!--end col-md-6-->
						<div class="col-md-6">
							<div class="progress" data-progress-width="100%">
								<h5 class="ts-progress-title">Web Application Developement</h5>
								<figure class="ts-progress-value"></figure>
								<div class="progress-bar" role="progressbar" aria-valuenow="0"
									aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<!--end progress-->
							<div class="progress" data-progress-width="100%">
								<h5 class="ts-progress-title">Android Application
									Developement</h5>
								<figure class="ts-progress-value"></figure>
								<div class="progress-bar" role="progressbar" aria-valuenow="0"
									aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<!--end progress-->
							<div class="progress" data-progress-width="100%">
								<h5 class="ts-progress-title">Web Design</h5>
								<figure class="ts-progress-value"></figure>
								<div class="progress-bar" role="progressbar" aria-valuenow="0"
									aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<!--end progress-->
							<div class="progress" data-progress-width="80%">
								<h5 class="ts-progress-title">Photography</h5>
								<figure class="ts-progress-value"></figure>
								<div class="progress-bar" role="progressbar" aria-valuenow="0"
									aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<!--end progress-->
						</div>
						<!--end col-md-6-->
					</div>
					<!--end row-->
				</div>
				<!--end container-->
			</section>

			<section class="ts-block pb-5" id="team">
				<div class="container">
					<div class="ts-title  text-center">
						<h2>Our Team</h2>
					</div>
					<!--end ts-title-->
					<div class="card-columns ts-gallery ts-column-count-4">
						<a href="assects/image/Bishwajit D.jpg"
							class="card ts-gallery__item popup-image"
							data-animate="ts-fadeInUp">
							<div class="ts-gallery__item-description">
								<h4>Bishwajit Nayak</h4>
								<h6 class="ts-opacity__50">Java Developer</h6>
							</div> <img src="assects/image/Bishwa.jpg" class="card-img" alt="">
							<!--end ts-gallery__image-->
						</a>
						<!--end card ts-gallery__item-->
						<a href="assects/image/Bhabani D.jpg"
							class="card ts-gallery__item popup-image"
							data-animate="ts-fadeInUp">
							<div class="ts-gallery__image">
								<div class="ts-gallery__item-description">
									<h4>Bhabani Sankar</h4>
									<h6 class="ts-opacity__50">Java Developer</h6>
								</div>
								<img src="assects/image/BHABANI (1).jpg" class="card-img" alt="">
								<!--end ts-gallery__item-description-->
							</div> <!--end ts-gallery__image-->
						</a>
						<!--end card ts-gallery__item-->
						<a href="assects/image/GULFAN D.jpg"
							class="card ts-gallery__item popup-image"
							data-animate="ts-fadeInUp">
							<div class="ts-gallery__image">
								<img src="assects/image/GULFAN.jpg" class="card-img" alt="">
								<div class="ts-gallery__item-description">
									<h4>Sheikh Gulfan</h4>
									<h6 class="ts-opacity__50">SEO Analyst</h6>
									<!-- <img src="assects/image/GULFAN.jpg" class="card-img" alt=""> -->
								</div>
								<!--end ts-gallery__item-description-->
							</div> <!--end ts-gallery__image-->
						</a>
						<!--end card ts-gallery__item-->
						<a href=" assects/image/HASHMI D.jpg"
							class="card ts-gallery__item popup-image"
							data-animate="ts-fadeInUp">
							<div class="ts-gallery__image">
								<img src="assects/image/Hashmi.jpg" class="card-img" alt="">
								<div class="ts-gallery__item-description">
									<h4>MD.Hasmi</h4>
									<h6 class="ts-opacity__50">Content Manager</h6>
								</div>
								<!--end ts-gallery__item-description-->
							</div> <!--end ts-gallery__image-->
						</a>
						<!--end card ts-gallery__item-->
						<a href="assects/image/MUKESH D.jpg"
							class="card ts-gallery__item popup-image"
							data-animate="ts-fadeInUp">
							<div class="ts-gallery__image">
								<img src="assects/image/MUKESH.jpg" class="card-img" alt="">
								<div class="ts-gallery__item-description">
									<h4>Mukesh Swain</h4>
									<h6 class="ts-opacity__50">Software Enginner</h6>
								</div>
								<!--end ts-gallery__item-description-->
							</div> <!--end ts-gallery__image-->
						</a>
						<!--end card ts-gallery__item-->
						<a href="assects/image/RAJIV D.jpg"
							class="card ts-gallery__item popup-image"
							data-animate="ts-fadeInUp">
							<div class="ts-gallery__image">
								<img src="assects/image/RAJIV.jpg" class="card-img" alt="">
								<div class="ts-gallery__item-description">
									<h4>Rajiv Jena</h4>
									<h6 class="ts-opacity__50">FrontEnd Developer</h6>
								</div>
								<!--end ts-gallery__item-description-->
							</div> <!--end ts-gallery__image-->
						</a>
						<!--end card ts-gallery__item-->
						<a href="assects/image/ROHAN D.jpg"
							class="card ts-gallery__item popup-image"
							data-animate="ts-fadeInUp">
							<div class="ts-gallery__image">
								<img src="assects/image/ROHAN.jpg" class="card-img" alt="">
								<div class="ts-gallery__item-description">
									<h4>Swaroop Baibhav</h4>
									<h6 class="ts-opacity__50">FrontEnd Developer</h6>
								</div>
								<!--end ts-gallery__item-description-->
							</div> <!--end ts-gallery__image-->
						</a>
						<!--end card ts-gallery__item-->
						<a href="assects/image/SUBHAJIT D.jpg"
							class="card ts-gallery__item popup-image"
							data-animate="ts-fadeInUp">
							<div class="ts-gallery__image">
								<img src="assects/image/SUBHAJIT.jpg" class="card-img" alt="">
								<div class="ts-gallery__item-description">
									<h4>Subhajit Das</h4>
									<h6 class="ts-opacity__50">FullStack Developer</h6>

								</div>
								<!--end ts-gallery__item-description-->
							</div> <!--end ts-gallery__image-->
						</a>
						<!--end card ts-gallery__item-->
						<a href="assects/image/AMIT D.jpg"
							class="card ts-gallery__item popup-image"
							data-animate="ts-fadeInUp">
							<div class="ts-gallery__image">
								<img src="assects/image/AMIT1.jpg" class="card-img" alt="">
								<div class="ts-gallery__item-description">
									<h4>Amit Palai</h4>
									<h6 class="ts-opacity__50">FullStack Developer</h6>

								</div>
								<!--end ts-gallery__item-description-->
							</div> <!--end ts-gallery__image-->
						</a>
						<!--end card ts-gallery__item-->
						<!--end card ts-gallery__item-->
					</div>
					<!--end ts-gallery-->
				</div>
				<!--end container-->
			</section>
			<!--end Team-->

			<section class="ts-block"
				data-bg-image="assets/img/bg-man-sitting.jpg">
				<div class="container ts-promo-numbers">
					<div class="row">
						<div class="col-sm-6 col-md-3">
							<div class="ts-promo-number text-center">
								<figure class="odometer" data-odometer-final="15">0
								</figure>
								<h5>Clients</h5>
							</div>
							<!--end ts-promo-number-->
						</div>
						<!--end col-md-3-->
						<div class="col-sm-6 col-md-3">
							<div class="ts-promo-number text-center">
								<figure class="odometer" data-odometer-final="20">0
								</figure>
								<h5>Projects</h5>
							</div>
							<!--end ts-promo-number-->
						</div>
						<!--end col-md-3-->
						<div class="col-sm-6 col-md-3">
							<div class="ts-promo-number text-center">
								<figure class="odometer" data-odometer-final="02">0
								</figure>
								<h5>Awards</h5>
							</div>
							<!--end ts-promo-number-->
						</div>
						<!--end col-md-3-->
						<div class="col-sm-6 col-md-3">
							<div class="ts-promo-number text-center">
								<figure class="odometer" data-odometer-final="03">0
								</figure>
								<h5>Years Experience</h5>
							</div>
							<!--end ts-promo-number-->
						</div>
						<!--end col-md-3-->
					</div>
				</div>
			</section>
			<!--end ts-block-->

			<section id="testimonials" class="ts-block text-center pb-1">
				<div class="container">
					<div class="ts-title">
						<h2>Testimonials</h2>
					</div>
					<!--end ts-title-->
					<div class="row">
						<div class="col-md-8 offset-md-2">
							<div class="owl-carousel" data-owl-dots="1" data-owl-loop="1"
								data-animate="ts-fadeInUp">
								<div class="slide mb-5">
									<figure
										class="d-inline-block p-3 ts-bg-primary text-white ts-has-talk-arrow">
										<i class="fa fa-quote-right"></i>
									</figure>
									<p class="ts-h5">I'm MUKESH, software engineer and founder
										of SoftDyze, We develops innovative software solutions for
										businesses. He has over 3 years of experience in software
										development and always looking for new ways to use technology
										to solve problems.</p>
									<div class="ts-circle__lg mb-3"
										data-bg-image="./assects/image/test.jpg"></div>
									<h5>Mukesh Swain</h5>
									<h6 class="ts-opacity__40">Software Engineer</h6>
								</div>
								<!--end slide-->
								<div class="slide mb-5">
									<figure
										class="d-inline-block p-3 ts-bg-primary text-white ts-has-talk-arrow">
										<i class="fa fa-quote-right"></i>
									</figure>
									<p class="ts-h5">I'm AMIT, Full-Stack Developer at
										SoftDyze. The team was very responsive to my needs, and they
										were able to customize the software to fit my specific
										requirements. I'm really happy with the results, and I would
										definitely recommend SoftDyze to anyone looking for a reliable
										and professional software development company.</p>
									<div class="ts-circle__lg mb-3"
										data-bg-image="./assects/image/Amit.jpeg"></div>
									<h5>Amit Palai</h5>
									<h6 class="ts-opacity__40">FullStack Engineer</h6>
								</div>
								<!--end slide-->
							</div>
							<!--end owl-carousel-->
						</div>
						<!--end col-md-8-->
					</div>
					<!--end row-->
				</div>
				<!--end container-->
			</section>
			<!--end #testimonials ts-block-->

			<!--LOGOS ***********************************************************************************************-->
			<!-- <section id="partners" class="ts-block py-4"> -->
			<!--container-->
			<!-- <div class="container"> -->
			<!--block of logos-->
			<!-- <div
						class="d-block d-md-flex justify-content-between align-items-center text-center ts-partners py-3">
						<a href="#"> <img src="assets/img/logo-01-w.png" alt="">
						</a> <a href="#"> <img src="assets/img/logo-02-w.png" alt="">
						</a> <a href="#"> <img src="assets/img/logo-03-w.png" alt="">
						</a> <a href="#"> <img src="assets/img/logo-04-w.png" alt="">
						</a> <a href="#"> <img src="assets/img/logo-05-w.png" alt="">
						</a>
					</div> -->
			<!--end logos-->
			<!-- </div> -->
			<!--end container-->
			<!-- </section> -->
			<!--END LOGOS *******************************************************************************************-->

		</main>
		<!--end #content-->

		<!--*********************************************************************************************************-->
		<!--************ FOOTER *************************************************************************************-->
		<!--*********************************************************************************************************-->
		<footer id="ts-footer" class="mt-5">

			<section id="contact" class="ts-block ts-separate-bg-element"
				data-bg-image="assets/img/bg-man-wall.jpg"
				data-bg-image-opacity=".1">
				<div class="container">
					<div class="ts-title text-center">
						<h2 class="ts-bubble-border">Get In Touch</h2>
					</div>
					<div class="row ts-xs-text-center ">
						<div class="col-sm-6 col-md-3 mb-4" data-animate="ts-fadeInUp">
							<img src="assets/img/icon-pin.png" class="mb-4" alt="">
							<h5>Address</h5>
							<div class="ts-opacity__50">
								<figure class="mb-0">Chandikhole, Jajpur
								</figure>
								<figure>Odisha, 755044
								</figure>
							</div>
							<!--end ts-opacity__50-->
						</div>
						<!--end col-md-3-->
						<div class="col-sm-6 col-md-3 mb-4" data-animate="ts-fadeInUp"
							data-delay=".1s">
							<img src="assets/img/icon-phone-02.png" class="mb-4" alt="">
							<h5>Phone</h5>
							<div class="ts-opacity__50">
								<figure class="mb-0">+91 75408 02073
								</figure>
								<figure>+91 93374 54603
								</figure>
							</div>
							<!--end ts-opacity__50-->
						</div>
						<!--end col-md-3-->
						<div class="col-sm-6 col-md-3 mb-4" data-animate="ts-fadeInUp"
							data-delay=".2s">
							<img src="assets/img/icon-envelope.png" class="mb-4" alt="">
							<h5>Email</h5>
							<div class="ts-opacity__50">
								<figure class="mb-0">softdyze@gmail.com
								</figure>
								<figure>support@softdyze.com
								</figure>
							</div>
							<!--end ts-opacity__50-->
						</div>
						<!--end col-md-3-->
						<div class="col-sm-6 col-md-3 mb-4" data-animate="ts-fadeInUp"
							data-delay=".3s">
							<img src="assets/img/icon-talk-bubble.png" class="mb-4" alt="">
							<h5>Instagram Chat</h5>
							<div class="ts-opacity__50">
								<figure>@softdyze
								</figure>
							</div>
							<!--end ts-opacity__50-->
						</div>
						<!--end col-md-3-->
					</div>
					<!--end row-->

					<div class="pt-5">
						<div class="row">
							<div class="col-md-4">
								<h3>Let’s Connect</h3>
								<div class="ts-column-count-sm-2">
									<a href="#" class="mb-3 d-flex text-white ts-align__vertical">
										<span
										class="ts-circle__xs border border-white ts-border-light mr-4">
											<i class="fab fa-facebook-f"></i>
									</span> <span>Facebook</span>
									</a>
									<!--end link-->
									<a href="#" class="mb-3 d-flex text-white ts-align__vertical">
										<span
										class="ts-circle__xs border border-white ts-border-light mr-4">
											<i class="fab fa-twitter"></i>
									</span> <span>Twitter</span>
									</a>
									<!--end link-->
									<a href="https://www.instagram.com/softdyze" class="mb-3 d-flex text-white ts-align__vertical">
										<span
										class="ts-circle__xs border border-white ts-border-light mr-4">
											<i class="fab fa-instagram"></i>
									</span> <span>Instagram</span>
									</a>
									<!--end link-->
									<a href="#" class="mb-3 d-flex text-white ts-align__vertical">
										<span
										class="ts-circle__xs border border-white ts-border-light mr-4">
											<i class="fab fa-pinterest-p"></i>
									</span> <span>Pinterest</span>
									</a>
									<!--end link-->
									<a href="#" class="mb-3 d-flex text-white ts-align__vertical">
										<span
										class="ts-circle__xs border border-white ts-border-light mr-4">
											<i class="fab fa-skype"></i>
									</span> <span>Skype</span>
									</a>
									<!--end link-->
								</div>
							</div>
							<!--end col-md-4-->
							<div class="col-md-8">
								<h3>Send Me a Message</h3>
								<form id="form-contact" class="clearfix ts-form ts-form-email"
									th:action="@{/save}" method="POST" th:object="${book}">
									<div class="row">
										<div class="col-md-6 col-sm-6">
											<div class="form-group">
												<label for="form-contact-name">Name </label> <input
													type="text" class="form-control" id="form-contact-name"
													name="name" th:field="*{name}" placeholder="Name" required>
											</div>
											<!--end form-group -->
										</div>
										<!--end col-md-6 col-sm-6 -->
										<div class="col-md-6 col-sm-6">
											<div class="form-group">
												<label for="form-contact-email">Email </label> <input
													type="email" class="form-control" id="form-contact-email"
													th:field="*{email}" name="email" placeholder="Email"
													required>
											</div>
											<!--end form-group -->
										</div>
										<!--end col-md-6 col-sm-6 -->
									</div>
									<!--end row -->
									<div class="form-group">
										<label for="form-contact-subject">Subject </label> <input
											type="text" class="form-control" id="form-contact-subject"
											name="subject" th:field="*{subject}" placeholder="Subject">
									</div>
									<!--end form-group -->
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label for="form-contact-message">Message</label>
												<textarea class="form-control" id="form-contact-message"
													rows="5" name="message" placeholder="Message"
													th:field="*{message}"></textarea>
											</div>
											<!--end form-group -->
										</div>
										<!--end col-md-12 -->
									</div>
									<!--end row -->
									<div class="form-group clearfix">
										<button type="submit"
											class="btn btn-primary float-right ts-btn-arrow"
											id="form-contact-submit">Send a Message</button>
									</div>
									<!--end form-group -->
									<div class="form-contact-status"></div>
								</form>
								<!--end form-contact -->
							</div>
							<!-- <div class="col-md-8">
								<h3>Send Me a Message</h3>
								<form id="form-contact" class="clearfix ts-form ts-form-email"
									th:action="@{/save}" method="POST" th:object="${book}">
									<div class="form-group">
										<label for="name">Your Name:</label> <input type="text"
											th:field="*{name}" id="name" name="name">
									</div>
									<div class="form-group">
										<label for="email">Your Email:</label> <input type="email"
											th:field="*{email}" id="email" name="email">
									</div>
									<div class="form-group">
										<label for="subject">Subject:</label> <input type="text"
											th:field="*{subject}" id="subject" name="subject">
									</div>
									<div class="form-group">
										<label for="message">Message:</label>
										<textarea th:field="*{message}" id="message" name="message"
											rows="5"></textarea>
									</div>
									<div>
										<input class="btn btn-primary" type="submit" value="Sign up">
									</div>
								</form>
								end form-contact
							</div> -->
						</div>
						<!--end row-->
					</div>
				</div>
				<!--end container-->
			</section>
			<!--end #contact-->

			<div class="text-dark bg-white">
				<div class="container py-3 position-relative">
					<small>© 2023 SoftDyze, All Rights Reserved</small> <a
						href="#page-top"
						class="ts-circle__xs rounded-0 bg-dark position-absolute ts-right__0 ts-top__0 ts-push-up__50 ts-scroll">
						<i class="fa fa-arrow-up text-white"></i>
					</a>
				</div>
			</div>

		</footer>
		<!--end #footer-->

	</div>
	<!--end page-->

	<!-- Modal Web Design-->
	<div class="modal fade text-dark" id="modal" tabindex="-1"
		role="dialog" aria-labelledby="modal" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg"
			role="document">
			<div class="modal-content border-0 rounded-0">
				<div class="modal-header bg-light px-5 pt-0 pb-5">
					<div class="ts-title mb-0">
						<figure class="ts-circle__md bg-dark rounded-0">
							<img src="assects/image/001-web-design.png" alt="">
						</figure>
						<h4 class="mb-0">Web Design</h4>
					</div>

					<button type="button"
						class="close position-absolute ts-top__0 ts-right__0 m-2"
						data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true" class="text-white">&times;</span>
					</button>
				</div>
				<div class="modal-body p-5">
					<h5 class="mb-4">Latest Works</h5>
					<div class="owl-carousel" data-owl-dots="1">
						<div class="slide">
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-4">
										<img src="assects/image/web-design-modal.jpg" alt="">
									</div>
									<div class="col-md-8">
										<h4 class="mb-3">Creative Lights</h4>
										<p>In id nulla magna. Nullam posuere fermentum mattis.
											Nunc id dui at sapien faucibus fermentum ut vel diam. Nullam
											tempus, nunc id efficitur sagittis, urna est ultricies.</p>
										<a href="#" class="mb-4 text-dark d-block"> <i
											class="fa fa-globe ts-opacity__50 mr-2"></i> www.example.com
										</a>
										<hr>
										<h6>Services Included</h6>
										<ul class="list-unstyled ts-opacity__50">
											<li>Design</li>
											<li>Coding</li>
											<li>SEO Optimization</li>
											<li>Hosting</li>
										</ul>
									</div>
									<!--end col-md-8-->
								</div>
								<!--end row-->
							</div>
							<!--end container-fluid-->
						</div>
						<!--end slide-->
						<!-- <div class="slide">
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-4">
										<img src="assets/img/img-work-detail-02.jpg" alt="">
									</div>
									<div class="col-md-8">
										<h4 class="mb-3">Wood Ceiling</h4>
										<p>Phasellus volutpat velit nec purus elementum feugiat.
											Nunc feugiat fringilla turpis. Nam sed facilisis sem.
											Vestibulum vitae orci nec purus fringilla condimentum.
											Pellentesque id augue rhoncus, finibus sapien ut, commodo
											eros. Maecenas in nibh augue. Nunc rutrum blandit massa eu
											aliquet. Nulla facilisi. Aenean luctus ipsum in orci sagittis
											auctor vel sit amet ex</p>
										<a href="#" class="mb-4 text-dark d-block"> <i
											class="fa fa-globe ts-opacity__50 mr-2"></i> www.example.com
										</a>
										<hr>
										<h6>Services Included</h6>
										<ul class="list-unstyled ts-opacity__50">
											<li>Design</li>
											<li>Coding</li>
											<li>SEO Optimization</li>
											<li>Hosting</li>
										</ul>
									</div>
									
								</div>
								
							</div>
							
						</div> -->
						<!--end slide-->
					</div>
					<!--end owl-carousel-->
				</div>
				<!--end modal-body-->
			</div>
			<!--end modal-content-->
		</div>
		<!--end modal-dialog-->
	</div>
	<!--end modal-->

	<script src="./assects/js/custom.hero.js"></script>
	<script src="./assects/js/jquery-3.3.1.min.js"></script>
	<script src="./assects/js/popper.min.js"></script>
	<script src="./assects/Bootstrap/js/bootstrap.min.js"></script>
	<script src="./assects/js/imagesloaded.pkgd.min.js"></script>
	<script src="./assects/js/isInViewport.jquery.js"></script>
	<script src="./assects/js/jquery.magnific-popup.min.js"></script>
	<script src="./assects/js/scrolla.jquery.min.js"></script>
	<script src="./assects/js/odometer.min.js"></script>
	<script src="./assects/js/owl.carousel.min.js"></script>
	<script src="./assects/js/custom.js"></script>
</body>
</html>
